@import 'common';
@import 'inputRange';

.audio-player-container {
    position: fixed;
    bottom: 10px;
    opacity: 0;
    display: none;
    height: 90px;
    transition: 1s;
    background-color: rgba(116, 116, 116, 0.678);
    width: 50%;
    border-radius: 10px;
    @include centeredleft();
    z-index: 1500;
    .audio-control-buttons {
        width: 50%;
        margin: auto;
        div {
            width: 150px;
            margin: 10px auto;
        }
        svg {
            font-size: 20px;
            color: rgba(116, 116, 116, 0.884);
        }
        button {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.788);
            border: none;
            border-radius: 50px;
            margin: 0 5px;
            box-shadow: 0 0 2px 0 white;
            border: 1px ridge white;
        }
        button:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .audio-input {
        width: 85%;
        margin: 10px auto;
        input[type = range] {
            width: 100%;
        }
    }
}

.audio-close-icon {
    position: absolute;
    left: 10px;
    font-size: 25px !important;
    color: rgba(255, 255, 255, 0.767) !important;
}

@media only screen and (max-width: 700px) {
    .audio-player-container {
        width: 90%;
    }
}
