@import 'common';

.aye-main {
    height: 100%;
    max-width: 90%;
    margin: auto;
    background-color: #f6f6f6;
    img {
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    
}
.aye-text {
    direction: rtl;
    width: 100%;
    background-image: linear-gradient(45deg, #729e8dc7, rgba($color: $primary-color2, $alpha: 0.4));
    box-shadow: 0 0 5px 0 $primary-color2;
    height: inherit; 
    position: relative;
    border: 1px ridge rgba(0, 158, 137, 0.87);
    margin: 15px auto ;
    font-size: 32px;
    color: rgba(34, 34, 34, 0.733);
    font-family: osmanTaha;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;         
}
.aye-index {
    font-size: 20px;
    font-family: osmanTaha;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/ayeNumber.png);
    background-size: cover;
    position: relative;
    bottom: 10px;
    p {
        position: relative;
        @include centeredtop();
        top: 60%;
    }
}
.copied {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 50px;
    width: 250px;
    transform: translateY(-120%);
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.753);
    transition: 0.5s;
    p{
        display: block;
        color: rgba(0, 0, 0, 0.774);
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        position: relative;
        @include centeredtop();
        
    }
}
#searchQuery {
    display: block;
    margin: 50px auto;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    padding: 0 50px;
    font-size: 22px;
    direction: rtl;
    font-family: osmanTaha;
}

.search-result {
    padding: 10px  !important;
    width: 70%;
    position: relative;
    left: 30%;
    background-color: rgba(128, 128, 128, 0.356);
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.637);
    p {
        font-size: 23px;
        margin: 0;
        font-family: osmanTaha;
        color: rgba(0, 0, 0, 0.808);
        line-height: 40px;
    }
    p:nth-child(2) {
        color: rgba(255, 255, 255, 0.822);
        font-size: 20px;
    }
    
}
.searchPageLinks:nth-child(odd) div {
    left: 0 !important;
    right: 30% !important;
}
#lastNode {
    height: 100px;
}
#search-container {
    background-image: url(../assets/images/geometric-composition.jpg);
    background-size: cover;
    height: 100%;
    overflow: auto;
    padding: 0 5%;
    ::-webkit-input-placeholder { 
        font-size: 16px;
      }
      ::-moz-placeholder {
        font-size: 16px;
      }
      :-ms-input-placeholder { 
        font-size: 16px;
      }
      :-moz-placeholer {
        font-size: 16px;
      }
}
#searchQuery:focus {
    outline: none;
}
.ayeText {
    display: block;
    height: inherit;
    width: 100%;
    text-align: center;
    position: relative;
    top: 20px;
}
.ayeTarjome {
    color: rgba(119, 71, 49, 0.856);
    margin: 25px 0;
    height: inherit;
    font-size: 28px;
    font-weight: 500;
    font-family: yekan;
}
.aye-page-footer {
    height: 100px;
    text-align: center;
    font-size: 24px;
}
#noResult {
    display: none;
    margin: 50px auto;
    width: 40%;
    padding: 50px 50px;
    background-color: rgba(128, 128, 128, 0.137);
    text-align: center;
    font-size: 24px;
    font-family: osmanTaha;
    word-spacing: 7px;
    p {
        margin: 10px 0;
    }
}
.aye-page-header {
    height: 60px;
    background-color: #838984;
    box-shadow: 0px 5px 5px 1px rgba(0, 158, 137, 0.39);
    color: rgba(255, 255, 255, 0.623);
    text-align: center;
    font-family: osmanTaha;
    padding-top: 8px;
    font-size: 32px;
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.705) ;
    z-index: 10;
    p {
        position: absolute;
        @include centeredboth;
        top: 70%;
    }
    
}
.settingIcon {
    position: absolute;
    right: 10px;
    @include centeredtop();
}
.backtohomeIcon {
    @extend .settingIcon;
    left: 10px;
    color: rgba(255, 255, 255, 0.623);
}
path {
    pointer-events: none;
}
.playButton {
    pointer-events: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.playButton:hover {
    font-size: 34px;
}
.aye-buttons-container {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.aye-texts-container {
    width: 100%;
    margin-bottom: 20px;
}
.ayeButtons {
    width: 20%;
    margin: 0 auto;
    position: relative;
    height: inherit;
    z-index: 100;
    div {
        width: 100%;
        height: 55px;  
    }
    p {
        font-size: 15px;
        text-align: center;
    }
    svg {
        position: relative;
        right: 50%;
        transform: translateX(50%);
        top: 10px;

    }
}
.scrollTop {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    transition: 0.5s;
    svg {
        font-size: 50px;
        color: rgba(119, 71, 49, 0.856);
    }
}



@media only screen and (min-width: 900px) {
    .aye-main {
        width: 70%;
        img {
            width: 50%;
        }
    }
    .aye-text {
        padding: 0 100px;
    }
}