@import 'common';

.setting-container {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.404);
    position: fixed;
    z-index: 2000;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s;
    svg {
        position: absolute;
        @include centeredtop();
        font-size: 40px;
        color: rgba(255, 255, 255, 0.705);
    }
}
.closeicon {
    position: absolute;
    height: 100%;
    z-index: 4000;
    left: 10px;
}

.settingOpen {
    transform: translateX(0);
    opacity: 1;
}

.setting-headers {
    height: 80px;
    background-color: $primary-color2;
    position: relative;
    p {
        text-align: right;
        position: relative;
        @include centeredtop();
        color: rgba(255, 255, 255, 0.705);
        font-size: 30px;
        font-family: $font-farsi;
        font-weight: 500;
        right: 20px;
    }
}

.setting-body-container {
    position: relative;
    width: 90%;
    margin: auto;
    top: 30px;
}

.body-headers {
    height: 70px;
    direction: rtl;
    background-color: $primary-color2;
    padding: 20px 40px;
    position: relative;
    color: rgba(255, 255, 255, 0.692);
    font-family: $font-farsi;
    font-size: 22px;
    border: 1px solid white;
    margin: 10px 0;
}

.body-headers-icon1, .body-headers-icon2 {
    position: absolute;
    left: 40px;
    width: 20px;
    top: 10px;
    height: 20px;
    text-align: center;
    font-size: 40px;
}

.setting-body {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.setting-open {
    border: none;
}

.qari-options {
    @extend .setting-body;
    div {
        background-color: white;
        padding: 30px;
    }
    button {
        width: 150px;
        height: 30px;
        margin-left: 50px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    select {
        border-radius: 4px;
        height: 30px;
        width: 200px;
        position: relative;
        bottom: 50%;
        font-size: 20px;
    }
    option {
        
        border-radius: 4px;
    }
}

.setting-body1 {
    padding: 30px; 
    background-color: white;
    font-size: 24px;
    font-family: $font-farsi;
    font-weight: 500;
    color: $primary-color2;
    
    label {
        direction: rtl;
        margin-bottom: 30px;
        display: block;
    }
    input[type=submit] {
        width: 150px;
        height: 30px;
        margin-left: 30px;
        position: relative;
        bottom: 5px;
        border: none;
    }
    input[type = range] {
        background-color: rgba($color: $primary-color2, $alpha: 0.7);
        height: 15px;
        width: 120px;
    }
    #ayeCurrentAmount {       
        display: inline;       
    }
    #tarjoemCurrentAmount {       
        display: inline;       
    }
}


@media only screen and (min-width: 900px) {
    .setting-body-container {
        margin: auto;
        width: 70%;
    }
}